<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<p th:if="${resultDto != null && resultDto.isSuccess() == true}">Your car reservation is saved.</p>
		<form action="/car/rentable" method="get">
			<input type="date" name="from" required />
			<input type="date" name="to" required />
			<input type="submit" />
		</form>
		
		<table th:if="${carListDto != null}">
			<tr>
				<th>Name</th>
				<th>Fee/Day</th>
				<th>Picture</th>
			</tr>
			<tr th:each="carDto : ${carListDto.getCarDtoList()}">
				<td th:text="${carDto.getName()}"></td>
				<td th:text="${carDto.getFeePerDay()}"></td>
				<td></td>
				<td>
					<form action="/rentform" method="get">
						<input type="hidden" name="carid" th:value="${carDto.getId()}"/>
						<input type="hidden" name="from" th:value="${rentDto.getFrom()}"/>
						<input type="hidden" name="to" th:value="${rentDto.getTo()}"/>
						<input type="submit" value="Choose"/>
					</form>
				</td>
			</tr>
		</table>
	</body>
</html>